button{
    background-color: white;
    color:rgba(111, 106, 106, 0.825);
    justify-content: space-around;
    display: inline;
    grid-template-columns: 1rf 1rf;
    column-gap: 10px;
    margin: 0 15px;
    border-radius: 5px;
    border-style: none;
  


  
  
}